![](https://i.imgur.com/0AUxkXt.png)

# Assignment 1 - The Hacker Rank

HackerRank is a place where programmers from all over the world come together to solve problems in a wide range of Computer Science domains.

As you solve more challenges, you earn points and move up the HackerRank Leaderboard.

Looking for a job at an awesome company? You can get hired by solving [challenges](https://www.hackerrank.com/jobs/search)!

It's cool. Let's establish your knowledge and fight for glory!

But before that let's make it clear that..

## Note-taking is IMPORTANT

Blog: [Why is note-taking important](https://nickblackbourn.com/blog/why-is-note-taking-important/)

Note taking isn’t just important for college students, it’s a valuable life skill.

Effective note taking helps you to remember information and aids your understanding of that information. 

**Notes boost your understanding**

By making notes, you force yourself to construct a conceptual mental representation of the ideas you are grappling with. It is this process that helps you comprehend the subject matter you are working with.

**Notes are a repository of your thinking**

When you need to recall something that you came across a while ago, you can go over the main ideas by looking over your notes. This is why good, comprehensive notes are so useful; they are a catalogue of the best ideas you’ve encountered, and what you thought about them.

etc.

## Requirements

Pick 10 challenges on HackerRank about SQL and 5 about Python in **easy** level:

[HackerRank - Domain SQL](https://www.hackerrank.com/domains/sql?filters%5Bdifficulty%5D%5B%5D=easy&filters%5Bsubdomains%5D%5B%5D=select)

[HackerRank - Domain Python](https://www.hackerrank.com/domains/python?filters%5Bdifficulty%5D%5B%5D=easy)

For each challenge:

* Create a markdown cell first that describes the challenge.
* Solve the challenge on HackerRank and copy your solution to a code cell below
* (Optional) A short description about how you came up with the solution would be awesome.

## Example

### SQL


#### Problem 1

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

In [0]:
# Solution
# SELECT * from city WHERE population>100000 AND countrycode='USA';

### Python

#### Problem 1

**Task** 
Given an integer, , perform the following conditional actions:

* If `n` is odd, print *Weird*
* If `n` is even and in the inclusive range of 2 to 5, print *Not Weird*
* If `n` is even and in the inclusive range of 6 to 20, print *Weird*
* If `n` is even and greater than 20, print *Not Weird*

**Input Format**

A single line containing a positive integer, .

**Output Format**

Print Weird if the number is weird; otherwise, print Not Weird.

In [0]:
n = int(input())

if n % 2 == 1:
    print('Weird')
else:
    if (n >= 2) and (n <= 5):
        print('Not Weird')
    elif (n >= 6) and (n <= 20):
        print('Weird')
    else:
        print('Not Weird')

## Your turn

Good luck and have fun!

### SQL


#### Problem 1: The PADS

Generate the following two result sets:

Query an alphabetically ordered list of all names in **OCCUPATIONS**, immediately followed by the first letter of each profession as a parenthetical (i.e.: enclosed in parentheses). For example: AnActorName(A), ADoctorName(D), AProfessorName(P), and ASingerName(S).
Query the number of ocurrences of each occupation in **OCCUPATIONS**. Sort the occurrences in ascending order, and output them in the following format: 

There are a total of [occupation_count] [occupation]s.
where [occupation_count] is the number of occurrences of an occupation in OCCUPATIONS and [occupation] is the lowercase occupation name. If more than one Occupation has the same [occupation_count], they should be ordered alphabetically.

Note: There will be at least two entries in the table for each type of occupation.

**Input Format**

The **OCCUPATIONS** table is described as follows:

| Column | Type |
|:----:|:---:|
| Name | String |
| Occupation | String |

Occupation will only contain one of the following values: **Doctor**, **Professor**, **Singer** or **Actor**.


---


**Solution:** I'm using 2 queries. First query, I select Name and substring Occupation with first character. Second query, I just make count Occupation and group by them.

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/the-pads/hackers/thanhhaisgas/download_solution

In [0]:
/*
Enter your query here.
Please append a semicolon ";" at the end of the query and enter your query in a single line to avoid error.
*/
select Name || '(' || concat(SUBSTR(Occupation, 1, 1),')') from OCCUPATIONS order by Name ASC;
select 'There are a total of ' || count(Occupation) || concat(' ',lower(Occupation)) || 's.' from OCCUPATIONS group by Occupation order by count(Occupation), Occupation ASC;


#### Problem 2: Occupations

Pivot the Occupation column in **OCCUPATIONS** so that each Name is sorted alphabetically and displayed underneath its corresponding Occupation. The output column headers should be Doctor, Professor, Singer, and Actor, respectively.

Note: Print NULL when there are no more names corresponding to an occupation.

**Input Format**

The **OCCUPATIONS** table is described as follows:

| Column | Type |
|:----:|:---:|
| Name | String |
| Occupation | String |

Occupation will only contain one of the following values: **Doctor**, **Professor**, **Singer** or **Actor**.


---


**Solution:** Make a new column to present the number of appearance of "Occupation" and  order  by "Name" ,  then group this column.

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/occupations/hackers/thanhhaisgas/download_solution

In [0]:
/*
Enter your query here.
Please append a semicolon ";" at the end of the query and enter your query in a single line to avoid error.
*/ 
select max(Doctor), max(Professor), max(Singer), max(Actor) from
    (
        select 
           RANK() OVER (PARTITION BY Occupation order by Name) AS DupCount,
           DECODE(Occupation, 'Doctor', Name) as Doctor,
           DECODE(Occupation, 'Professor', Name) as Professor,
           DECODE(Occupation, 'Singer', Name) as Singer,
           DECODE(Occupation, 'Actor', Name) as Actor
        from OCCUPATIONS order by Name asc
    )
group by DupCount
order by DupCount;


#### Problem 3: Binary Tree Nodes

You are given a table, **BTS**, containing two columns: N and P, where N represents the value of a node in Binary Tree, and P is the parent of N.

**Input Format**

The **BTS** table is described as follows:

| Column | Type |
|:----:|:---:|
| N | Integer |
| P | Integer|

Write a query to find the node type of Binary Tree ordered by the value of the node. Output one of the following for each node:


* Root: If node is root node.
* Leaf: If node is leaf node.
* Inner: If node is neither root nor leaf node.


---


**Solution:** Leaf is not in P, NULL is Root and the rest is Inner.

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/binary-search-tree-1/hackers/thanhhaisgas/download_solution

In [0]:
/*
Enter your query here.
Please append a semicolon ";" at the end of the query and enter your query in a single line to avoid error.
*/
select N, 
case 
    when N not in (select P from BST where P is not null) then 'Leaf' 
    when P is null then 'Root' 
    else 'Inner'
end 
from BST order by N;


#### Problem 4: Revising the Select Query I

Query all columns for all American cities in **CITY** with populations larger than 100000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query/hackers/thanhhaisgas/download_solution

In [0]:
SELECT * from city WHERE population>100000 AND countrycode='USA';


#### Problem 5: Revising the Select Query II

Query the names of all American cities in **CITY** with populations larger than 120000. The CountryCode for America is USA.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/revising-the-select-query-2/hackers/thanhhaisgas/download_solution

In [0]:
SELECT NAME from city WHERE population>=120000 AND countrycode='USA';


#### Problem 6: Select All

Query all columns (attributes) for every row in the **CITY** table.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/select-all-sql/hackers/thanhhaisgas/download_solution

In [0]:
select * from CITY;

#### Problem 7: Select By ID

Query all columns for a city in **CITY** with the ID 1661.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/select-by-id/hackers/thanhhaisgas/download_solution

#### Problem 8: Japanese Cities' Attributes

Query all attributes of every Japanese city in the **CITY** table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-attributes/hackers/thanhhaisgas/download_solution

In [0]:
select * from CITY where COUNTRYCODE = 'JPN';

#### Problem 9: Japanese Cities' Names

Query the names of all the Japanese city in the **CITY** table. The COUNTRYCODE for Japan is JPN.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| NAME | VARCHAR2(17) |
| COUNTRYCODE | VARCHAR2(3) |
| DISTRICT | VARCHAR2(20) |
| POPULATION | NUMBER |

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/japanese-cities-name/hackers/thanhhaisgas/download_solution

In [0]:
select NAME from CITY where COUNTRYCODE = 'JPN';

#### Problem 10: Weather Observation Station 1

Query a list of CITY and STATE from the **STATION** table.

**Input Format**

The **CITY** table is described as follows:

| Field | Type |
|:----:|:---:|
| ID | NUMBER |
| CITY | VARCHAR2(17) |
| STATE | VARCHAR2(2) |
| LAT_N | NUMBER |
| LONG_N | NUMBER |

where LAT_N is the northern latitude and LONG_W is the western longitude.

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/weather-observation-station-1/hackers/thanhhaisgas/download_solution

In [0]:
/*
Enter your query here.
Please append a semicolon ";" at the end of the query and enter your query in a single line to avoid error.
*/
select CITY, STATE from STATION;

### Python

#### Problem 1: The Minion Game

**Task:**

Kevin and Stuart want to play the 'The Minion Game'. Your task is to determine the winner of the game and their score.

**Game Rules**

* Both players are given the same string, **S**.
* Both players have to make substrings using the letters of the string **S**.
* Stuart has to make words starting with consonants.
* Kevin has to make words starting with vowels. 
* The game ends when both players have made all possible substrings. 

**Scoring**

* A player gets +1 point for each occurrence of the substring in the string **S**.

**For Example:**

* String  **S** = BANANA
* Kevin's vowel beginning word = ANA
* Here, ANA occurs twice in BANANA. Hence, Kevin will get 2 Points.

**Input Format**

* A single line of input containing the string **S**. 

**Output Format**

* Print one line: the name of the winner and their score separated by a space.
* If the game is a draw, print Draw.

**Solution:** foreach input string and check the letter with VOWEL to make point for Kevin or Stuart. Score is the lenght of substing start with this letter.

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/the-minion-game/hackers/thanhhaisgas/download_solution

In [1]:
def minion_game(string):
    vowel = 'AOEUI'
    stuart = 0
    kevin = 0
    for idx, char in enumerate(string):
        core = len(string) - idx
        if char in vowel:
            kevin += core
        else:
            stuart += core
    if kevin > stuart:
        print('Kevin ' + str(kevin))
    else:
        if kevin < stuart:
            print('Stuart ' + str(stuart))
        else:
            print('Draw')

if __name__ == '__main__':
    s = input()
    minion_game(s)

AAAA
Kevin 10

#### Problem 2: Write a function

**Task:**

You are given the year, and you have to write a function to check if the year is leap or not.

**Rules**

We add a Leap Day on February 29, almost every four years. The leap day is an extra, or intercalary day and we add it to the shortest month of the year, February. 
In the Gregorian calendar three criteria must be taken into account to identify leap years:
* The year can be evenly divided by 4, is a leap year, unless:
 * The year can be evenly divided by 100, it is NOT a leap year, unless:
   * The year is also evenly divisible by 400. Then it is a leap year.

This means that in the Gregorian calendar, the years 2000 and 2400 are leap years, while 1800, 1900, 2100, 2200, 2300 and 2500 are NOT leap years.

**Input Format**

* Read y, the year that needs to be checked.

**Output Format**

* Output is taken care of by the template. Your function must return a boolean value (True/False).

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/write-a-function/hackers/thanhhaisgas/download_solution

In [0]:
def is_leap(year):
    leap = False
    if (year % 4) == 0:
        if (year % 100) == 0:
            if (year % 400) == 0:
                leap = True
        else:
            leap = True

    return leap
year = int(input())
print(is_leap(year))

#### Problem 3: Merge the Tools!

![alt text](https://i.imgur.com/nX3mXql.png)

**Solution:** Using **OrderedDict** from  **collections** libray in python. Try to make easy life =]].

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/merge-the-tools/hackers/thanhhaisgas/download_solution

In [0]:
from collections import OrderedDict
def merge_the_tools(string, k):
    listString = [string[i:i + k] for i in range(0, len(string), k)]
    for item in listString:
        print("".join(OrderedDict.fromkeys(item)))
        

if __name__ == '__main__':
    string, k = input(), int(input())
    merge_the_tools(string, k)

#### Problem 4: Time Delta

**Task:**

* When users post an update on social media,such as a URL, image, status update etc., other users in their network are able to view this new post on their news feed. Users can also see exactly when the post was published, i.e, how many hours, minutes or seconds ago.

* Since sometimes posts are published and viewed in different time zones, this can be confusing. You are given two timestamps of one such post that a user can see on his newsfeed in the following format:

 * **Day dd Mon yyyy hh:mm:ss +xxxx**

 * Here **+xxxx** represents the time zone. 
 
* Your task is to print the absolute difference (in seconds) between them

**Input Format**

* The first line contains ***T***, the number of testcases. 
* Each testcase contains 2 lines, representing time ***t1***  and time ***t2***.

**Output Format**

* Print the absolute difference ***(t1 - t2)***  in seconds.

**Solution:** Using datetime library.

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/python-time-delta/hackers/thanhhaisgas/download_solution

In [0]:
#!/bin/python3

import math
import os
import random
import re
import sys
import datetime

# Complete the time_delta function below.
def time_delta(t1, t2):
    timeFormat = '%a %d %b %Y %H:%M:%S %z'
    d1 = datetime.datetime.strptime(t1, timeFormat)
    d2 = datetime.datetime.strptime(t2, timeFormat)
    return str(abs(int((d1 - d2).total_seconds())))

if __name__ == '__main__':
    fptr = open(os.environ['OUTPUT_PATH'], 'w')

    t = int(input())

    for t_itr in range(t):
        t1 = input()

        t2 = input()

        delta = time_delta(t1, t2)

        fptr.write(delta + '\n')

    fptr.close()

#### Problem 5: Find Angle MBC

![alt text](https://i.imgur.com/nleOspy.png)

**Solution:** Using **math** libray in python. Try to make easy life =]].

**Submission url:** https://www.hackerrank.com/rest/contests/master/challenges/find-angle/hackers/thanhhaisgas/download_solution

In [0]:
import math
AB = float(input())
BC = float(input())
print(str(int(round(math.degrees(math.atan2(AB, BC)))))+'°')